.auth_outage_warningbar {
    background-color: white;
    box-sizing: content-box;
    height: 90px;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.auth_outage_warningbar_box {
    background-color: #ffcccc;
    border-bottom: 2px dashed #a00000;
    border-top: 2px dashed #a00000;
    color: #a00000;
}

.auth_outage_warningbar_box_title {
    font-size: 200%;
    font-weight: bold;
    margin: 10px 0;
}

.auth_outage_warningbar_box_message {
    margin-bottom: 5px;
}

.navbar.navbar-fixed-top {
    top: 90px;
}

.auth_outage_warningbar_spacer {
    height: 80px;
}