/*
This file is used as default value for the 'auth_outage_css' settings.
If you need to make changes here, remember to update your settings inside Moodle.
*/

#auth_outage_warningbar_box {
    background-color: red;
    box-sizing: content-box;
    color: white;
    height: 100px;
    left: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
    transition: background 3s ease-out;
    width: 100%;
    z-index: 9999;
}

#auth_outage_warningbar_box.auth_outage_warning_period {
    background:
        repeating-linear-gradient(
            -45deg,
            #ff7c00,
            #ff7c00 10px,
            #ff6c00 10px,
            #ff6c00 20px
        );
    background-color: #ff7c00;
}

#auth_outage_warningbar_box.auth_outage_imminent_period {
    background:
        repeating-linear-gradient(
            -45deg,
            #a000a0,
            #a000a0 10px,
            #800080 10px,
            #800080 20px
        );
    background-color: #800080;
}

#auth_outage_warningbar_box.auth_outage_ongoing_period {
    background:
        repeating-linear-gradient(
            -45deg,
            #e00,
            #e00 10px,
            #c00 10px,
            #c00 20px
        );
    background-color: #e00;
}

#auth_outage_warningbar_box.auth_outage_finished_period {
    background:
        repeating-linear-gradient(
            -45deg,
            #0a0,
            #0a0 10px,
            #090 10px,
            #090 20px
        );
    background-color: #090;
}

.auth_outage_warningbar_center {
    margin-top: -35px;
    position: relative;
    top: 50%;
}

#auth_outage_warningbar_message {
    font-size: 200%;
    font-weight: bold;
    margin: 10px 0;
}

a.auth_outage_warningbar_box_title {
    color: white;
}

a.auth_outage_warningbar_box_finish {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: darkgray;
    font-weight: bold;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 10px;
    text-decoration: none;
    transition: background-color 200ms linear;
}

a.auth_outage_warningbar_box_finish:hover {
    background-color: black;
}

.auth_outage_warningbar_spacer {
    height: 80px;
}

body.auth_outage #nav-drawer {
    top: 150px;
}

body.auth_outage nav.fixed-top.navbar {
    top: 100px;
}